footer {
    display: flex;
    flex-flow: column;
    background-color: black;
    color: white;
    font-family: $fontfamily;
    justify-content: center;
    align-items: center;
    #foot1 img {
        margin-right: 2em;
    }
}