.navbar {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    background-color: black;
    padding-top: 2em;
    padding-bottom: 2em;
    nav {
        display: flex;
        flex-flow: row;
    }
    #navul {
        display: flex;
        flex-flow: row;
        list-style: none;
    }
    a {
        display: flex;
        flex-flow: row;
        text-decoration: none;
        font-family: $fontfamily;
        color: white;
        padding-left: 1.5em;
        font-size: 1.5em;
    }
}