body .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #5B181A;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

body .header .item1 img {
  width: 100%;
  padding-left: 1em;
}

body .header .item2 img {
  width: 140%;
}

body .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: black;
  padding-top: 2em;
  padding-bottom: 2em;
}

body .navbar nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

body .navbar #navul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  list-style: none;
}

body .navbar a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding-left: 1.5em;
  font-size: 1.5em;
}

body footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer #foot1 {
  padding-bottom: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body footer .foot2 {
  padding-bottom: 1em;
  margin-bottom: 1em;
}

body #spacestation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body #spacestation img {
  margin: 1em;
  padding: 1em;
  -webkit-box-shadow: 28px 5px 15px 5px #000000;
          box-shadow: 28px 5px 15px 5px #000000;
}

body #spacestation h1 {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #DDDDDD;
  color: #6F6F6F;
  font-size: 2vw;
}

body #spacestation h2 {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #DDDDDD;
  color: #6F6F6F;
}

body #spacestation div {
  font-family: Arial, Helvetica, sans-serif;
}

body #cul_heading {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #DDDDDD;
  color: #6F6F6F;
  width: 50%;
  padding: 1em;
  margin: 1em;
  margin-right: auto;
  margin-left: auto;
  border-style: solid;
  border-width: thin;
}

body #gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
  margin: 1.5em;
}

body #gallery img {
  width: 50%;
  height: 100%;
  -webkit-box-shadow: 28px 5px 15px 5px #000000;
          box-shadow: 28px 5px 15px 5px #000000;
  margin: 1em;
  padding: 1em;
  margin-right: auto;
  margin-left: auto;
  border: solid;
}

body #videos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #videos iframe {
  margin: 1em;
  padding: 1em;
}

body article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em;
  border-style: inset;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #DDDDDD;
  -webkit-box-shadow: 28px 5px 15px 5px #000000;
          box-shadow: 28px 5px 15px 5px #000000;
}

body article img {
  border: solid;
}

body article h1 {
  color: #0271bb;
}

body article div {
  color: #6F6F6F;
}
/*# sourceMappingURL=style2.css.map */